<div class="dashboard-page" data-controller="task">
  <div class="header">
    <ul class="object-list">
      <% if @objets.any? %>
        <% @objets.each do |objet| %>
          <li>
            <span class="object-bullet"></span>
            <%= link_to "#{objet.nom} - #{objet.adresse}", objet_path(objet), class: "object-link" %>
            <% if can?(:edit, objet) %>
              <%= link_to edit_objet_path(objet), class: "edit-link", title: "Éditer #{objet.nom}" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <li>Aucun objet disponible pour le moment.</li>
      <% end %>
    </ul>

    <% if current_user.private_user? || current_user.enterprise_admin? %>
      <a href="<%= new_objet_path %>" class="create-object">
        <span class="icon">+</span> Créer un objet
      </a>
    <% end %>
  </div>


  <div class="spacer"></div>

  <div class="agenda-section">
    <div class="agenda-header">
      <h2>Agenda todo list</h2>
      <div class="select-objet">
        <select id="object-selector" class="form-select" data-action="change->task#loadTasks">
          <option value="">Sélectionner un objet</option>
          <% @objets.each do |objet| %>
            <option value="<%= objet.id %>"><%= objet.nom %></option>
          <% end %>
        </select>
      </div>
      <a href="javascript:void(0)" onclick="window.print()" class="print-button">
        <i class="fas fa-print"></i>
      </a>
    </div>

    <div class="tasks-display">
      <div class="task-group this-week">
        <h3>Cette semaine</h3>
        <ul id="this-week-tasks" data-task-target="thisWeekTasks">
          <% @this_week_tasks.each do |task| %>
            <li>
              <span class="task-title"><%= task.name %></span>
              <span class="task-description"><%= task.description %></span>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="task-group upcoming">
        <h3>A venir</h3>
        <ul id="upcoming-tasks" data-task-target="upcomingTasks">
          <% @upcoming_tasks.each do |task| %>
            <li>
              <span class="task-title"><%= task.name %></span>
              <span class="task-description"><%= task.description %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
