<h2 class="profile-title">Modifier le profil</h2>


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'profile-form' }) do |f| %>
  <div class="back-icon">
    <%= link_to "&#10005;".html_safe, :back, class: "close-button", title: "Retour" %>
  </div>

  <%= f.error_notification %>

  <div class="profile-picture-container">
    <% if resource.avatar.attached? %>
      <%= image_tag resource.avatar.variant(resize_to_limit: [150, 150]), alt: "Photo de Profil", class: "profile-picture", id: "profile-image-preview" %>
    <% else %>
      <img src="/path/to/default-image.png" alt="Photo de Profil" class="profile-picture" id="profile-image-preview">
    <% end %>

    <label for="user_avatar" class="profile-picture-icon">
      <%= f.file_field :avatar, id: "user_avatar", class: "profile-file-input", style: "display: none;", onchange: "previewImage(event)" %>
      <i class="fa fa-camera"></i>
    </label>
  </div>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label: "Adresse Email", input_html: { class: "profile-input" } %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p class="confirmation-info">En attente de confirmation pour : <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password,
                label: "Nouveau Mot de Passe",
                hint: "Laissez vide si vous ne souhaitez pas le changer",
                required: false,
                input_html: { autocomplete: "new-password", class: "profile-input" } %>
    <%= f.input :password_confirmation,
                label: "Confirmer le Nouveau Mot de Passe",
                required: false,
                input_html: { autocomplete: "new-password", class: "profile-input" } %>
    <%= f.input :current_password,
                label: "Mot de Passe Actuel",
                hint: "Votre mot de passe actuel est nécessaire pour confirmer les changements",
                required: true,
                input_html: { autocomplete: "current-password", class: "profile-input" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Mettre à Jour", class: "profile-submit" %>
  </div>

    <% if resource.enterprise_admin? %>
    <div class="manage-permissions">
      <%= link_to "Gestion des utilisateurs", company_users_path, class: "btn btn-success" %>
    </div>
  <% end %>
<% end %>

<div class="cancel-account">
  Pas satisfait ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes-vous sûr ?", turbo_confirm: "Êtes-vous sûr ?" }, method: :delete, class: "cancel-button" %>
</div>


<script>
  function previewImage(event) {
    const imagePreview = document.getElementById('profile-image-preview');
    const file = event.target.files[0];

    if (file) {
      const reader = new FileReader();
      reader.onload = function(e) {
        imagePreview.src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  }
</script>
