<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :realisation_date, "Date de réalisation" %>
    <%= form.date_field :realisation_date %>
  </div>

  <div class="field">
    <%= form.label :cfc, "CFC" %>
    <%= form.text_field :cfc %>
  </div>

  <div class="field">
    <%= form.label :executant, "Exécutant" %>
    <%= form.text_field :executant %>
  </div>

  <div class="field">
    <%= form.label :image, "Ajouter une image" %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
