<div class="spacer"></div>
<div class="container-fluid p-0">
  <div class="d-flex justify-content-between align-items-center mb-3 px-4">
    <h1><%= @article.title %></h1>
    <div class="action-buttons">
      <%= link_to new_objet_secteur_article_task_path(@objet, @secteur, @article), class: 'btn-link action-button me-3' do %>
        + ajouter une tâche
      <% end %>
      <%= link_to '#', class: 'btn-link action-button me-3' do %>
        Calendrier
      <% end %>
      <%= link_to '#', class: 'btn-link action-button' do %>
        Historique
      <% end %>
    </div>
  </div>

  <div class="filters">
    <form method="get" class="d-flex px-4">
      <select name="executant_filter" class="form-select me-2">
        <option value="">Tous les exécutants</option>
        <% if @executants.present? %>
          <% @executants.each do |executant| %>
            <option value="<%= executant %>" <%= 'selected' if params[:executant_filter] == executant %>><%= executant %></option>
          <% end %>
        <% end %>
      </select>

      <select name="cfc_filter" class="form-select me-2">
        <option value="">Tous les CFC</option>
        <% if @cfcs.present? %>
          <% @cfcs.each do |cfc| %>
            <option value="<%= cfc %>" <%= 'selected' if params[:cfc_filter] == cfc %>><%= cfc %></option>
          <% end %>
        <% end %>
      </select>

      <button type="submit" class="btn btn-primary">Filtrer</button>
    </form>
  </div>

      <div class="content-area">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Tâche</th>
              <th>Date de création</th>
              <th>Date de fin ou Période</th>
              <th>CFC</th>
              <th>Type</th>
              <th>Exécutant</th>
              <th>Statut</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
        <% if @tasks.present? %>
          <% @tasks.each do |task| %>
              <tr class="task-row" style="background-color: <%= task.color %> !important;" data-link="<%= edit_objet_secteur_article_task_path(@objet, @secteur, @article, task) %>">
              <td><%= task.name %></td>
              <td><%= task.created_at.strftime('%d - %m - %Y') %></td>
              <td>
                <% if task.end_date.present? %>
                  <%= task.end_date.strftime('%d - %m - %Y') %>
                <% else %>
                  <%= task.period.present? ? task.period.capitalize : "N/A" %>
                <% end %>
              </td>
              <td style="white-space: nowrap;"><%= task.cfc %></td>
              <td><%= task.task_type.capitalize %></td>
              <td><%= task.executant %></td>
              <td><%= task.status.present? ? task.status.capitalize : "Non défini" %></td>
              <td>
                <%= link_to archive_objet_secteur_article_task_path(@objet, @secteur, @article, task), method: :patch, data: { confirm: 'Êtes-vous sûr de vouloir archiver cette tâche ?' }, class: 'btn btn-sm btn-secondary' do %>
                  <i class="fas fa-archive"></i>
                <% end %>

                <%= form_with url: objet_secteur_article_task_path(@objet, @secteur, @article, task), method: :delete, class: "d-inline" do %>
                  <button type="submit" class="btn btn-sm btn-danger" data-confirm="Êtes-vous sûr de vouloir supprimer cette tâche ?">
                    <i class="fas fa-trash"></i>
                  </button>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="8">Aucune tâche disponible.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.task-row').forEach(row => {
      row.addEventListener('click', function() {
        window.location.href = this.dataset.link;
      });
    });
  });
</script>
