<div class="spacer"></div>
<div class="container-fluid p-0">
  <!-- Partie fixe contenant le titre, les boutons d'action, et les filtres -->
  <div class="sticky-header">
    <div class="d-flex justify-content-between align-items-center mb-3 px-4">
      <h1><%= @article.title %></h1>
      <div class="action-buttons">
        <%= link_to new_objet_secteur_article_task_path(@objet, @secteur, @article), class: 'btn-link action-button me-3' do %>
          + ajouter une tâche
        <% end %>
        <%= link_to historique_objet_secteur_article_tasks_path(@objet, @secteur, @article), class: 'btn-link action-button' do %>
          Historique
        <% end %>
        <button onclick="window.print()" class="btn btn-secondary print-button">
          <i class="fas fa-print"></i>
        </button>
      </div>
    </div>
    <div class="filters">
      <form method="get" class="d-flex px-4" id="filters-form">
        <select name="executant_filter" class="form-select me-2" onchange="this.form.submit()">
          <option value="">Tous les exécutants</option>
          <option value="interne" <%= 'selected' if params[:executant_filter] == 'interne' %>>Interne</option>
          <option value="sous-traitant" <%= 'selected' if params[:executant_filter] == 'sous-traitant' %>>Sous-traitant</option>
        </select>

        <select name="cfc" class="form-select me-2" onchange="this.form.submit()">
          <option value="">Tous les CFC</option>
          <% if @cfcs.present? %>
            <% @cfcs.each do |cfc| %>
              <option value="<%= cfc %>" <%= 'selected' if params[:cfc] == cfc %>><%= cfc %></option>
            <% end %>
          <% end %>
        </select>

        <select name="task_type_filter" class="form-select me-2" onchange="this.form.submit()">
          <option value="">Tous les types</option>
          <option value="réparations" <%= 'selected' if params[:task_type_filter] == 'réparations' %>>Réparations</option>
          <option value="récurrence" <%= 'selected' if params[:task_type_filter] == 'récurrence' %>>Récurrence</option>
          <option value="entretiens" <%= 'selected' if params[:task_type_filter] == 'entretiens' %>>Entretiens</option>
        </select>
      </form>
    </div>
  </div>

  <!-- Conteneur défilant pour la partie des tâches -->
  <div class="scrollable-content">
  <table class="table table-hover">
    <thead class="sticky-thead">
      <tr>
        <th class="text-left">Nom</th>
        <th class="text-center">Date de création</th>
        <th class="text-center">Date de fin ou Période</th>
        <th class="text-left">CFC</th>
        <th class="text-center">Type</th>
        <th class="text-left">Exécutant</th>
        <th class="text-center">Statut</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% if @tasks.present? %>
        <% @tasks.each do |task| %>
          <tr class="task-row <%= task.task_type.downcase %>" data-link="<%= edit_objet_secteur_article_task_path(@objet, @secteur, @article, task) %>">
            <td class="text-left"><%= task.name %></td>
            <td class="text-center"><%= task.created_at.strftime('%d - %m - %Y') %></td>
            <td class="text-center">
              <% if task.end_date.present? %>
                <%= task.end_date.strftime('%d - %m - %Y') %>
              <% else %>
                <%= task.period.present? ? task.period.capitalize : "N/A" %>
              <% end %>
            </td>
            <td class="text-left" style="white-space: nowrap;"><%= task.cfc %></td>
            <td class="text-center">
              <span class="type-badge <%= task.task_type.downcase %>"><%= task.task_type.present? ? task.task_type.capitalize : "Non défini" %></span>
            </td>
            <td class="text-left"><%= task.executant %></td>
            <td class="text-center">
              <span class="status-badge <%= task.status.downcase %>"><%= task.status.present? ? task.status.capitalize : "Non défini" %></span>
            </td>
            <td class="text-right">
              <div class="icon-container">
                <%= form_with url: archive_objet_secteur_article_task_path(@objet, @secteur, @article, task), method: :patch, class: "d-inline" do %>
                  <button type="submit" class="btn btn-sm btn-secondary" data-confirm="Êtes-vous sûr de vouloir archiver cette tâche ?">
                    <i class="fa-solid fa-box-archive"></i>
                  </button>
                <% end %>
                <%= form_with url: objet_secteur_article_task_path(@objet, @secteur, @article, task), method: :delete, class: "d-inline" do %>
                  <button type="submit" class="btn btn-sm btn-danger" data-confirm="Êtes-vous sûr de vouloir supprimer cette tâche ?">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="8">Aucune tâche disponible.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.task-row').forEach(row => {
      row.addEventListener('click', function() {
        window.location.href = this.dataset.link;
      });
    });
  });
</script>
