<nav aria-label="breadcrumb" class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Vos objets', authenticated_root_path, class: 'breadcrumb-link' %>
    </li>
    <% if action_name == 'index' && controller_name == 'company_users' %>
      <li class="breadcrumb-item active" aria-current="page">Gestion des utilisateurs</li>
    <% elsif action_name == 'edit' && controller_name == 'company_users' %>
      <li class="breadcrumb-item">
        <%= link_to 'Utilisateurs de l\'entreprise', company_users_path, class: 'breadcrumb-link' %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Modifier un utilisateur</li>
    <% end %>
    <% if action_name == 'new' && controller_name == 'company_users' %>
      <li class="breadcrumb-item">
        <%= link_to "Utilisateurs de l'entreprise", company_users_path, class: 'breadcrumb-link' %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Créer un utilisateur</li>
    <% end %>
    <% if @objet && @objet.id.present? %>
      <% if action_name == 'edit' && controller_name == 'objets' %>
        <li class="breadcrumb-item">
          <%= link_to "Modifier l'objet", edit_objet_path(@objet), class: 'breadcrumb-link' %>
        </li>
      <% else %>
        <li class="breadcrumb-item">
          <%= link_to @objet.nom, objet_path(@objet), class: 'breadcrumb-link' %>
        </li>
      <% end %>
    <% elsif action_name == 'new' && controller_name == 'objets' %>
      <li class="breadcrumb-item active" aria-current="page">Création d'un objet</li>
    <% end %>
    <% if @secteur %>
      <li class="breadcrumb-item">
        <%= link_to @secteur.nom, objet_path(@objet), class: 'breadcrumb-link' %>
      </li>
    <% end %>
    <% if @article %>
      <li class="breadcrumb-item">
        <%= link_to "Todo", objet_secteur_article_path(@objet, @secteur, @article), class: 'breadcrumb-link' %>
      </li>
    <% end %>
    <% if action_name == 'historique' %>
      <li class="breadcrumb-item active" aria-current="page">Historique</li>
    <% elsif action_name == 'new' && controller_name == 'tasks' %>
      <li class="breadcrumb-item active" aria-current="page">Création de tâche</li>
    <% elsif action_name == 'edit' && controller_name == 'tasks' %>
      <li class="breadcrumb-item active" aria-current="page">Modifier la tâche</li>
    <% end %>
  </ol>
</nav>
