<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" href="<%= user_signed_in? ? authenticated_root_path : unauthenticated_root_path %>">
      <%= image_tag "logo.png", alt: "Plannikeeper" %>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <!-- Elements à gauche si nécessaire -->
      </ul>

      <div class="navbar-center">
        <% if @page_title.present? %>
          <span><%= @page_title %></span>
        <% else %>
          <span><%= @current_path %></span> <!-- Affiche le chemin si @page_title n'est pas défini -->
        <% end %>

        <% if controller_name == 'objets' && action_name == 'show' && @objet.present? %>
          <!-- Afficher le sélecteur de secteur uniquement sur la page show de l'objet -->
          <select id="sector-select-navbar" data-sector-select-target="sectorSelect" data-action="change->sector-select#loadImage">
            <option value="">Choisir un secteur</option>
            <% @objet.secteurs.each do |secteur| %>
              <option value="<%= secteur.id %>" <%= 'selected' if secteur.id == params[:selected_sector_id].to_i %>><%= secteur.nom %></option>
            <% end %>
          </select>
        <% end %>
      </div>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown" data-controller="dropdown" data-action="click->dropdown#toggle">
          <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="User Avatar" />
          <ul class="dropdown-menu" data-dropdown-target="menu">
            <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Mon profil</a></li>
            <li><a class="dropdown-item" href="<%= edit_user_registration_path %>">Paramètres</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'Déconnexion', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
