<div class="spacer"></div>
<div class="edit-object-page">
  <%= form_with(model: @objet, local: true, html: { multipart: true }) do |form| %>
    <div class="columns">
      <div class="left-column object-form">
        <h1 class="object-title">Modifier l'objet</h1>

        <% if @objet.errors.any? %>
          <div class="error-messages">
            <h2> Erreur(s)</h2>
            <ul>
              <% @objet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="object-field">
          <%= form.label :nom, "Nom de l'objet", class: "object-label" %>
          <%= form.text_field :nom, class: "form-control object-input" %>
        </div>

        <div class="object-field">
          <%= form.label :adresse, "Adresse de l'objet", class: "object-label" %>
          <%= form.text_field :adresse, class: "form-control object-input" %>
        </div>
      </div>

      <div class="right-column sectors-form">
        <h3 class="sectors-title">Secteurs</h3>
        <div data-controller="sector">
          <div data-sector-target="fields" id="secteurs-fields">
            <%= form.fields_for :secteurs do |secteur_form| %>
              <div class="sector-field">
                <%= secteur_form.label :nom, "Nom du secteur", class: "sector-label" %>
                <%= secteur_form.text_field :nom, class: "form-control sector-input" %>
                <%= secteur_form.hidden_field :_destroy %>

                <% if secteur_form.object.image.attached? %>
                  <p class="sector-file-name file-attached">
                    <i class="fa fa-file"></i> Fichier : <%= secteur_form.object.image.filename.to_s %>
                  </p>
                <% else %>
                  <p class="sector-file-name file-missing">
                    <i class="fa fa-exclamation-circle"></i> Aucune image associée.
                  </p>
                <% end %>

                <%= secteur_form.file_field :image, class: "form-control sector-file-input", style: "display: none;", id: "file-upload"  %>
                  <!-- Bouton personnalisé pour remplacer le champ d'image -->
                  <label for="file-upload" class="custom-file-label btn btn--simple">
                    Choisir un fichier
                  </label>
                <%= link_to "Supprimer", "#", class: "btn btn--danger sector-remove-btn", data: { action: "sector#removeSector submit->delete-confirm#confirm", controller: "delete-confirm", "delete-confirm-message-value": "Êtes-vous sûr de vouloir supprimer ce secteur ?" } %>
              </div>
            <% end %>
          </div>

          <template data-sector-target="template">
            <div class="sector-field">
              <%= form.fields_for :secteurs, Secteur.new, child_index: "NEW_RECORD" do |secteur_form| %>
                <%= secteur_form.label :nom, "Nom du secteur", class: "sector-label" %>
                <%= secteur_form.text_field :nom, class: "form-control sector-input" %>
                <%= secteur_form.hidden_field :_destroy %>
                <%= secteur_form.file_field :image, class: "form-control sector-file-input" %>

                <%= link_to "Supprimer", "#", class: "btn btn--danger sector-remove-btn", data: { action: "sector#removeSector submit->delete-confirm#confirm", controller: "delete-confirm", "delete-confirm-message-value": "Êtes-vous sûr de vouloir supprimer ce secteur ?" } %>
              <% end %>
            </div>
          </template>

          <%= link_to "Ajouter un secteur", "#", data: { action: "sector#addSector" }, class: 'btn btn--simple add-sector-btn' %>
        </div>
      </div>
    </div>

      <div class="actions-center">
        <%= form.submit "Sauvegarder", class: "btn btn--success modify-object-btn" %>
      </div>
    <% end %>
      <div class="actions-center">
      <%= form_with model: @objet, url: objet_path(@objet), method: :delete, local: true, data: { controller: "delete-confirm", action: "submit->delete-confirm#confirm", "delete-confirm-message-value": "Êtes-vous sûr de vouloir supprimer cet objet ?" } do |f| %>
        <%= f.submit "Supprimer l'objet", class: "btn btn--danger delete-object-btn" %>
      <% end %>
  </div>
</div>
