<!-- app/views/objets/new.html.erb -->
<h1>Créer un nouvel objet</h1>

<%= form_with(model: @objet, local: true, data: { controller: "sector" }) do |form| %>
  <% if @objet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objet.errors.count, "error") %> prohibited this objet from being saved:</h2>
      <ul>
        <% @objet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="field">
    <%= form.label :adresse %>
    <%= form.text_field :adresse %>
  </div>

  <h3>Secteurs</h3>
  <div data-controller="sector">
    <div data-target="sector.fields" id="secteurs-fields">
      <%= form.fields_for :secteurs do |secteur_form| %>
        <div class="field">
          <%= secteur_form.label :nom, "Nom du secteur" %>
          <%= secteur_form.text_field :nom %>
          <%= secteur_form.hidden_field :_destroy %>
        </div>
      <% end %>
    </div>

    <template data-target="sector.template">
      <div class="field">
        <%= form.fields_for :secteurs, Secteur.new, child_index: "NEW_RECORD" do |secteur_form| %>
          <%= secteur_form.label :nom, "Nom du secteur" %>
          <%= secteur_form.text_field :nom %>
          <%= secteur_form.hidden_field :_destroy %>
        </div>
      <% end %>
    </template>

    <%= link_to "Ajouter un secteur", "#", data: { action: "sector#addSector" } %>
  </div>

  <div class="actions">
    <%= form.submit "Créer l'objet" %>
  </div>
<% end %>
