<div class="object-show" data-controller="fabric sector-select panel" data-objet-id="<%= @objet.id %>" data-sector-select-objet-id="<%= @objet.id %>" data-selected-sector-id="<%= params[:selected_sector_id] || @selected_sector&.id %>">
  <div id="sector-image-container" data-panel-target="sectorImageContainer" style="position: relative;">
    <% if @selected_sector && @selected_sector.image.attached? %>
      <%= image_tag @selected_sector.image, alt: "Image du secteur", class: "sector-image", data: { sector_select_target: 'sectorImage' }, style: "width: 100%; height: auto;", draggable: "false" %>
    <% else %>
      <%= image_tag '', alt: "Image du secteur sélectionné", data: { sector_select_target: 'sectorImage' }, style: "display: none;", draggable: "false" %>
    <% end %>

    <canvas id="canvasId" data-fabric-target="canvas" class="fabric-canvas"></canvas>
    <button id="add-article" class="btn btn-secondary" style="position: absolute; top: 10px; right: 10px;" data-action="click->fabric#activateDrawing">+ Ajouter un article</button>
  </div>
</div>

<div id="article-panel" class="side-panel hidden" data-controller="panel panel-tab" data-panel-target="sectorImageContainer" data-panel-objet-id="<%= @objet.id %>" data-panel-selected-sector-id="<%= params[:selected_sector_id] || @selected_sector&.id %>">
  <div class="side-panel-header">
    <h3 id="article-title" data-panel-target="title" data-article-id="">
      <a href="#" data-action="click->panel#redirectToArticle">Titre de l'article</a>
    </h3>
    <button id="close-panel" data-action="panel#closePanel">X</button>
  </div>

  <!-- Menu des onglets -->
  <div class="tab-menu">
    <button class="tablinks active" data-action="panel-tab#openTab" data-tab="todo" data-panel-tab-target="tabLinks">TODO</button>
    <button class="tablinks" data-action="panel-tab#openTab" data-tab="create-task" data-panel-tab-target="tabLinks">Créer tâche</button>
  </div>

  <!-- Contenu du tab "TODO" -->
  <div id="todo" class="tabcontent" data-panel-tab-target="tabContent" data-tab-content="todo" style="display: block;">
    <h4>Liste des tâches</h4>
    <div id="task-list" class="task-list">
      <!-- Tâches dynamiques ici -->
    </div>
  </div>

  <!-- Contenu du tab "Créer tâche" -->
  <div id="create-task" class="tabcontent" data-panel-tab-target="tabContent" data-tab-content="create-task" style="display: none;">
    <h4>Créer une tâche</h4>
    <form data-controller="task" data-action="submit->task#submit" data-article-id="<%= @article&.id %>" data-objet-id="<%= @objet.id %>" enctype="multipart/form-data">
  <!-- Ton formulaire -->
  <label for="task-name">Nom de la tâche</label>
  <input type="text" id="task-name" name="task[name]" required>

  <label for="realisation-date">Date de réalisation</label>
  <input type="date" id="realisation-date" name="task[realisation_date]" required>

  <label for="cfc">CFC</label>
  <select id="cfc" name="task[cfc]" required>
    <option value="231">CFC 231 - Electricité</option>
  </select>

  <label for="executant">Exécutant</label>
  <input type="text" id="executant" name="task[executant]" required>

  <label for="task-file">Charger des documents</label>
  <input type="file" id="task-file" name="task[image]">

  <label for="task-description">Description</label>
  <textarea id="task-description" name="task[description]" required></textarea>

  <button type="submit">Créer</button>
</form>

  </div>
</div>
