<div class="object-show">
  <h1>Bienvenue sur notre page d'affichage d'un objet</h1>

  <h1>Détails de l'objet</h1>

  <p>
    <strong>Nom :</strong>
    <%= @objet.nom %>
  </p>

  <p>
    <strong>Adresse :</strong>
    <%= @objet.adresse %>
  </p>

  <h3>Secteurs</h3>
  <ul>
    <% @objet.secteurs.each do |secteur| %>
      <li>
        <%= secteur.nom %>
        <% if secteur.image.attached? %>
          <div class="image-container">
            <%= image_tag secteur.image, alt: "Image du secteur", class: "objet-image" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if @objet.image.attached? %>
    <p>
      <strong>Image :</strong>
      <%= image_tag @objet.image, alt: "Image de l'objet", class: "object-image" %>
    </p>
  <% end %>

  <%= link_to 'Modifier cet objet', edit_objet_path(@objet), class: 'btn btn-primary' %>
  <%= link_to 'Retour', objets_path, class: 'btn btn-secondary' %>
</div>
