<!DOCTYPE html>
<html>
  <head>
    <title>Plannikeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", version: '1.0.1' %>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap CSS et JS depuis CDN -->
    <script src="
    https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js
    "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="
    https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css
    " rel="stylesheet">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/modals/">

    <%= javascript_importmap_tags %>



    <% if flash[:notice] %>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          Swal.fire({
            position: "top",
            title: "Succès !",
            text: "<%= flash[:notice] %>",
            icon: "success",
            confirmButtonText: "OK",
            timer: 3000,
            timerProgressBar: true
          });
        });
      </script>
    <% end %>

  </head>

  <body>
    <% unless devise_controller? %>
      <%= render 'shared/navbar' %>
    <% end %>

    <% unless devise_controller? || current_page?(authenticated_root_path) || current_page?(unauthenticated_root_path) %>
      <%= render 'shared/breadcrumbs' %>
    <% end %>



    <% if flash[:alert] %>
      <div id="flash-alert" class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

    <!-- Inclure Fabric JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>

  </body>
</html>
