<!DOCTYPE html>
<html>
  <head>
    <title>PlannikeeperV1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
          const notice = document.getElementById('flash-notice');
          const alert = document.getElementById('flash-alert');
          if (notice) notice.style.display = 'none';
          if (alert) alert.style.display = 'none';
        }, 5000); // Masquer après 5 secondes
      });
    </script>

  </head>

  <body>
    <% unless devise_controller? %>
      <%= render 'shared/navbar' %>
    <% end %>

    <% unless devise_controller? || current_page?(authenticated_root_path) || current_page?(unauthenticated_root_path) %>
      <%= render 'shared/breadcrumbs' %>
    <% end %>

    <% if flash[:notice] %>
      <div id="flash-notice" class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div id="flash-alert" class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>

    <!-- Inclure Fabric JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.0/fabric.min.js"></script>
  </body>
</html>
